numpy<2.0
scikit-image>=0.22.0
cython
scipy
shapely
timm
h5py
submitit
kagglehub
Pillow
torch
torchvision
torchmetrics
einops
opencv-python
tqdm
torchprofile
torch-fidelity
torchdiffeq
diffusers
omegaconf
ipdb
wandb[media]
matplotlib
huggingface-hub
transformers
onnx
onnxsim
onnxruntime
pycocotools
lvis
git+https://github.com/alibaba/TinyNeuralNetwork.git
git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/facebookresearch/detectron2.git
ninja
